.content-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.75rem;
  opacity: 0.8;
  background-color: #fff;
  border: 0.0625rem solid #d0d1d3;
}

.wishlist-button {
  width: 2rem;
  height: 2rem;
  padding: 0;
  background-color: transparent;
  border: none;
  position: relative;
  top: -5rem;
  left: 8rem;
}

.wishlist-button {
  cursor: pointer;
}

.heart-image {
  width: 2rem;
  height: 2rem;
  filter: invert(48%) sepia(5%) saturate(17%) hue-rotate(358deg) brightness(95%)
    contrast(86%);
}

.content-container:first-of-type {
  margin-left: 0rem;
  margin-right: 0rem;
  width: 100%;
  height: 14rem;
  z-index: 20;
  animation: bump 400ms ease-out;
  opacity: 1;
}

.content-container:nth-of-type(2) {
  display: none;
}

.content-container:last-of-type {
  display: none;
}

@media (min-width: 40rem) {
  .content-container:first-of-type {
    align-self: none;
    display: flex;
    height: 13rem;
    margin-right: 0.5rem;
    width: 50%;
    animation: none;
  }
  .content-container:nth-of-type(2) {
    display: flex;
    width: 50%;
    height: 13rem;
    margin-left: 0.5rem;
    margin-right: 0rem;
    z-index: 30;
    opacity: 1;
  }
}

@media (min-width: 60rem) {
  .content-container:first-of-type {
    width: 30%;
    height: 13rem;
    margin-left: 0rem;
    animation: none;
    opacity: 0.8;
  }
  .content-container:nth-of-type(2) {
    align-self: center;
    display: flex;
    width: 40%;
    height: 14rem;
    margin-right: 0.5rem;
    animation: bump 400ms ease-out;
    opacity: 1;
  }
  .content-container:nth-of-type(2) button {
    top: -5.5rem;
    left: 11rem;
  }

  .content-container:last-of-type {
    display: flex;
    height: 13rem;
    margin-left: 0.5rem;
    margin-right: 0rem;
    width: 30%;
  }
}

.content-container:hover {
  opacity: 1;
  transform: scale(1.08);
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
