.container {
  margin-top: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 1fr;
  grid-template-areas: 'button-down carousel button-up';
}

.content-container {
  grid-area: carousel;
  height: 13rem;
  display: flex;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.count-up,
.count-down {
  border: none;
  width: 2rem;
  height: 2rem;
  padding: 0;
  width: 0;
}

.count-up {
  grid-area: button-up;
  align-self: center;
}

.count-down {
  grid-area: button-down;
  align-self: center;
}

.count-up-button,
.count-down-button {
  width: 2rem;
  height: 2rem;
  z-index: 30;
  filter: invert(44%) sepia(0%) saturate(159%) hue-rotate(242deg)
    brightness(88%) contrast(93%);
}
.count-up-button {
  left: 56rem;
}

.count-up-button:hover,
.count-down-button:hover {
  filter: none;
}
