.container {
  width: 40%;
  min-width: 15rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 1.75rem;
  background-color: #fff;
  border: 0.0625rem solid #d0d1d3;
  margin-top: 1rem;
}

@media (min-width: 40rem) {
  .container {
    width: 65%;
    max-width: 15rem;
  }
}

.content {
  margin-top: -2rem;
}

.container:last-of-type {
  margin-bottom: 2rem;
}

.wishlist-button {
  padding: 0rem;
  background-color: transparent;
  border: none;
  position: relative;
  top: -5rem;
  left: 5.5rem;
}

.wishlist-button:hover {
  cursor: pointer;
}

.heart-image {
  width: 2rem;
  height: 2rem;
  filter: invert(48%) sepia(5%) saturate(17%) hue-rotate(358deg) brightness(95%)
    contrast(86%);
}

.darkmode {
  border: none;
  background-color: #42414d;
}
