.container {
  display: flex;
  width: 100%;
  height: 13rem;
  margin-top: 1rem;
}

.content-container {
  background-color: #fff;
  width: 50%;
  border: 0.1rem solid #d0d1d3;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}

.content-container:last-of-type {
  margin-right: 0rem;
}
.content-container:first-of-type {
  margin-left: 0rem;
}

.count-up,
.count-down {
  margin-left: -2.5rem;
  position: relative;
  top: 35%;
  left: 1.5rem;
  min-width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 6px;
  border: 0.1rem solid #d0d1d3;
  background-color: #fff;
}
.count-up{
    left: 1.1rem;
}


.count-up:hover,
.count-down:hover {
  color: #fff;
  background-color: #d0d1d3;
}
