.wrapper {
  box-sizing: border-box;
  width: 100%;
  margin-top: 2rem;
  min-height: 30rem;
  background-color: #2b2a33;
  border-top: 0.0625rem solid #59585f;
}

.container {
  display: grid;
  max-width: 60rem;
  width: 90%;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.accordeon-container {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-container a {
  text-decoration: none;
  border-bottom: 0.15rem solid #d0d1d3;
  color: #d0d1d3;
  font-size: 1rem;
  font-weight: 600;
}

.text-content {
  color: #d0d1d3;
  text-align: center;
  font-size: 0.75rem;
  align-self: center;
}
