@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body,
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ededed;
  color: #666;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
