@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body,
html {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  background-color: #ededed;
  color: #666;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.darkmode {
  background-color: #2b2a33;
  color: #fff;
}
